mat-form-field {
  width: 250px;
}

.container {
  margin-top: 60px;
  width: 400px;
  height: 450px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.header > h3 {
  font-family: 'Sora', sans-serif;
  color: #757575;
}

.body {
  margin-top: 20px;
}

.submit-button {
  margin-top: 18px;
  width: 400px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
