<mat-tab-group mat-align-tabs="center" color="primary" backgroundColor="primary">
    <mat-tab label="Africa">
        <app-africa-arrangements></app-africa-arrangements>
    </mat-tab>
    <mat-tab label="Asia">
        <app-asia-arrangements></app-asia-arrangements>
    </mat-tab>
    <mat-tab label="Europe">
        <app-europe-arrangements></app-europe-arrangements>
    </mat-tab>
    <mat-tab label="North America">
        <app-north-america-arrangements></app-north-america-arrangements>
    </mat-tab>
    <mat-tab label="South America">
        <app-south-america-arrangements></app-south-america-arrangements>
    </mat-tab>
</mat-tab-group>
