.container {
    margin-top: 30px;
}

.form-padding {
    padding-top: 30px;
}

.icon-display {
    transform: scale(1);
    vertical-align: middle;
 }

 .bold {
    font-weight: bold;
 }

 .small {
    width: 250px;
 }